In [2]:
import pandas as pd
import numpy as np
import joblib
import streamlit as st

In [3]:
data =  pd.read_csv('LUCK.JK.csv')
data

           Date   Open   High    Low  Close  Adj Close   Volume
0    2022-06-15  232.0  232.0  218.0  222.0      222.0   750200
1    2022-06-16  230.0  230.0  216.0  224.0      224.0   922100
2    2022-06-17  232.0  232.0  218.0  218.0      218.0  1143100
3    2022-06-20  226.0  226.0  216.0  218.0      218.0  1960200
4    2022-06-21  222.0  224.0  216.0  220.0      220.0   922600
..          ...    ...    ...    ...    ...        ...      ...
243  2023-06-09   92.0   98.0   92.0   96.0       96.0  2750600
244  2023-06-12   90.0   98.0   90.0   96.0       96.0  2007700
245  2023-06-13   91.0   96.0   91.0   94.0       94.0  2173100
246  2023-06-14   94.0   95.0   94.0   95.0       95.0   934100
247  2023-06-15   89.0   95.0   89.0   94.0       94.0   681800

[248 rows x 7 columns]

In [8]:
data.isnull().values.any()

False

           Date   Open   High    Low  Close  Adj Close        Volume
0    2022-06-15  400.0  416.0  398.0  404.0      404.0  3.624955e+09
1    2022-06-16  408.0  412.0  382.0  392.0      392.0  3.994393e+09
2    2022-06-17  390.0  390.0  366.0  366.0      366.0  2.749645e+09
3    2022-06-20  366.0  376.0  344.0  370.0      370.0  4.244450e+09
4    2022-06-21  374.0  380.0  362.0  378.0      378.0  2.290207e+09
..          ...    ...    ...    ...    ...        ...           ...
242  2023-06-08  115.0  125.0  113.0  125.0      125.0  5.204715e+09
243  2023-06-09  125.0  130.0  124.0  127.0      127.0  7.172535e+09
244  2023-06-12  126.0  127.0  123.0  124.0      124.0  3.813070e+09
245  2023-06-13  123.0  124.0  119.0  121.0      121.0  4.021625e+09
247  2023-06-15  116.0  117.0  115.0  115.0      115.0  6.155358e+08

[247 rows x 7 columns]